@page
@using Cheaper_Effort.Models
@model Cheaper_Effort.Pages.ProfileModel
@{
}

<div class="mt-5 about">
    <h4 class="headline-text">
        @Html.DisplayFor(model => model.Account.Username)'s Profile:
    </h4>
    <div class="container">
        <table>
            <tr>
                <th class="col1" height="100px" width="50%">
                    <div class="container" height="100px" width="400px">
                        <div class="row border rounded shadow-sm">
                            <div class="row justify-content-left align-items-left" style="padding-top:10px; padding-bottom: 10px; padding-left: 10px;">

                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-1" style="color: #C9AC8B; padding-left: 5%;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                            </svg>
                                        </div>
                                        <div class="col-sm-1" style="padding-left: 25px; font-size: 150%; font-family: Lucida Console; color: #C9AC8B;">
                                            @Html.DisplayFor(model => model.Account.Username)
                                        </div>
                                    </div>

                                    <div style="float: left;">
                                        @if (Model.Account.Picture != null)
                                        {
                                            <img style="width: 200px; height: 200px; border: 2px solid #7D6344" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Account.Picture)" />
                                        }
                                        else
                                        {
                                            <img style="width: 200px; height: 200px; border: 2px solid #7D6344" src="/Pictures/pfp.png" />
                                        }
                                    </div>
                                </div>

                                <div class="col" style="float: left; width: 300px; padding-top: 10%; margin-bottom: 10px;">
                                    <p>
                                        First Name: @Html.DisplayFor(model => model.Account.FirstName)
                                    </p>

                                    <p>
                                        Last Name: @Html.DisplayFor(model => model.Account.LastName)
                                    </p>

                                    <p>
                                        Email: @Html.DisplayFor(model => model.Account.Email)
                                    </p>

                                    <p>
                                        Collected points: @Html.DisplayFor(model => model.Account.UserPoints)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>

                <th class="col2" height="100px" width="300px" style="padding-left:50px;">
                    <div class="container" height="100px" width="400px">
                        <div class="row border rounded shadow-sm">
                            <div class="mb-2">Current claimed discounts:</div>
                            <div class="row justify-content-right align-items-Right">
                                
                                <div>
                                    @*<p>5% discount:</p>
                                    @if (Model.Account.Discount5 != null)
                                    {
                                        <p>@Html.DisplayFor(model => model.Account.Discount5)</p>
                                    }
                                    else
                                    {
                                        <p>- No discount claimed!</p>
                                    }
                                </div>
                                
                                <div>
                                    <p>10% discount:</p>
                                    @if (Model.Account.Discount10 != null)
                                    {
                                        <p>@Html.DisplayFor(model => model.Account.Discount10)</p>
                                    }
                                    else
                                    {
                                        <p>- No discount claimed!</p>
                                    }
                                </div>

                                <div>
                                    <p>15% discount:</p>
                                    @if (Model.Account.Discount15 != null)
                                    {
                                        <p>@Html.DisplayFor(model => model.Account.Discount15)</p>
                                    }
                                    else
                                    {
                                        <p>- No discount claimed!</p>
                                    }*@
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
        <div class="container" style="padding-top: 10px;">
            <div class="row border rounded shadow-sm">

                <div class="mb-2">Claim rewards:</div>

                <form method="post">
                    <p>Claim a discount!</p>
                    <p>5% - 400 points, 10% - 1000, 15% - 2000!</p>
                    <div>
                        <label asp-for="Discount.DiscountsType" class="form-label">Discount</label>
                        <br />
                        <select asp-for="Discount.DiscountsType" asp-items="Html.GetEnumSelectList<Discounts>()">
                        </select>
                        <span asp-validation-for="Discount.DiscountsType" class="text-danger" />
                    </div>
                    <button type="submit" asp-page-handler="discount">Claim!</button>
                </form>

            </div>
        </div>
    </div>
</div>