@page
@model Cheaper_Effort.Pages.Forms.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<form method="post">
    <div class="text-left about"> @*overall big white block div*@
        <h1 class="headline-text">Products selection</h1>

        <div class="headline-text"> @*printing list of items to select*@
        @{
            for (int i = 0; i < Model.Products.Count; i++)
            {
                var j = i + 1;
                <input asp-for="@Model.Products[i].Value" type="hidden" />
                <input asp-for="@Model.Products[i].Text" type="hidden" />
                {
                    <input asp-for="@Model.Products[i].Selected" /> @Model.Products[i].Text
                }

            }
            <br />
        }
        </div>

        @if (Model.SelectedProducts != null) @*printing list of selected items*@
        {
            <br />
            <h5 class="main-line">Selected Products: @Model.SelectedProducts </h5>
        }
        <br />

        <div class="form-group mt-2"> @*button*@
            <input type="submit" value="Submit" class="btn btn-primary button button-position-1" />
        </div>
    </div>
</form>